@model HospitalApp.Models.ViewModels.PrescriptionMultiModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int i = 0;
}


<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">


            <!--- end row -->


            <div class="row">


                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">

                            <h4 class="mt-0 header-title">Prescription Table</h4>
                            <br />
                            <a href="~/Prescription/Create" class="btn btn-dark mb-4">Prescription Add</a>
                            <br />
                            <div class="table-responsive">
                                <table class="table mb-1">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>#</th>
                                            <th>Procedure</th>
                                            <th>User</th>
                                            <th>Name</th>
                                            <th>Is Active</th>

                                            <th>Setting</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.Prescriptions.Count == 0)
                                        {

                                            <tr>
                                                <td colspan="5">Prescription is not found.</td>
                                            </tr>
 }
                                        else
                                        {
                                            foreach (var item in Model.Prescriptions)
                                            {
                                                i++;
                                                <tr>
                                                    <th scope="row">@i</th>
                                                    <td>@item.ProcedureId</td>
                                                    <td>@item.UserId</td>
                                                    <td>@item.Name</td>


                                                    <td>

                                                        <input type="checkbox" class="form-check-input" checked="@item.IsActive"
                                                               value="true" data-val="true" disabled="true" />
                                                    </td>
                                                    <td>
                                                        <a href="~/Prescription/Edit/@item.Id" class=" fa fa-edit "></a>

                                                        &nbsp;|&nbsp;
                                                        <a href="~/Prescription/Delete/@item.Id" class=" fa fa-trash-o"></a>
                                                    </td>
                                                </tr>
}


                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>


                </div>
            </div>


        </div> <!-- container-fluid -->
    </div> <!-- content -->
    <!-- Footer Start -->
    <!-- end Footer -->

</div>

